@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
  html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
  }

  button {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
  }
}

@theme {

  --color-pivot: var(--color-green-200);
  --color-static: var(--color-blue-200);

  --animate-grow: grow 1000ms ease-out;


  @keyframes grow {
    0% {
      scale: 0;
    }

    100% {
      scale: 100%
    }

  }

  --animate-dissolve: dissolve 1000ms ease-out;


  @keyframes dissolve {
    0% {
      scale: 100%
    }

    100% {
      scale: 0;
    }

  }

  --animate-slide-in :slide-in 1000ms linear;

  @keyframes slide-in {
    0% {
      top: -100%;
    }

    100% {
      top: 0;
    }
  }

}